.sidebar-container{
    width: 15%;
    background: #f00;
    height: 100%;
    position: fixed;
    top: 0;
}
.homepage-right-container{
    width: 85%;
    background: #f1f1f1;
    height: 100%;
}