.sidebar-container{
    width: 150px;
    height: 100%;
    position: fixed;
    top: 0;
    box-sizing: border-box;
}
.homepage-right-container{
    width: 950px;
    background: #f1f1f1;
   float: right;
}